@model LoginViewModel

@{
    ViewBag.Title = "Вход";
    Layout = "_Layout";
}

<h2>Введите данные для входа</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Email"></label><br/>
                <input class="form-control" asp-for="Email"/>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label><br/>
                <input class="form-control" asp-for="Password"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="RememberMe"></label>
                <input class="form-check-inline" asp-for="RememberMe"/>
            </div>
            <div class="form-group">
                <button class="form-control" type="submit" id="submit">Войти</button>
            </div>
        </form>
    </div>
</div>